*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

.btn-primary{
    
   font-weight: 600;
   font-size: 20px;
   width: 160px;
   height: 56px;
   border: 0;
   border-radius: 5px;
   color: #FFFFFF;
   background: #FF5959;
   margin-bottom: 100px;

}
.center{
    display: flex;
    justify-content: center;
    text-align: center;
}

header{
  
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
    background-image: url(../images/donation13.jpg); 
    background-repeat: no-repeat;
    background-size: cover;

   /* //position: absolute; */
}
/* banner set */

.banner-title{
    
    text-align: center;
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    padding-top: 110px;
    padding-bottom: 20px;
    
}
.banner-des{

    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 30px;
}

.sec-title{

    padding-top: 100px;
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    padding-bottom: 40px;
    
}
.sec-des{
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    padding-bottom: 50px;
}

/* donate today */
.donate-today{
    max-width: 700px;
    margin: 0 auto;
}
.donate-today-info{
    display: flex;
    gap: 20px;
   text-align: center;
   justify-content: center;
   padding-bottom: 60px;
  
}

.info-title{
    font-weight: 700;
    font-size: 30px;
    color: rgb(101, 93, 93);
    text-align: center;
    padding: 0;

}

.donate-title{
    background: #FAFAFA;
    border-radius: 5px;
    padding: 35px 20px;
    text-align: center;
    
  
}

.donate-title-red{
    background: #FFEEEE;
    border-radius: 5px;
    border: 2px solid #FF5959;
    padding: 0;
}
.donate-title-red .info-title-red{
    font-weight: 700;
    font-size: 30px;
    color: #FF5959;
    text-align: center;
    padding: 30px 20px;
   
}


.other-amount{
    text-align: center;
    padding-bottom: 30px;
}
.taka{
    font-weight: 400;
    font-size: 18px;
    color: #B3B3B3;
    padding-bottom: 10px;
}
/* donate plane */
.donate-plan{
    max-width: 1140px;
    margin: 0 auto;
}

.food{
    display: flex;
    gap: 20px;
    

}
.food-fam-title{
    font-weight: 600;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.food-fam , .shelter-fam , .child-edu{

    width: 320px;
    height: 300px;
    text-align: left;
    padding-top: 60px;
   padding-left:  24px;
   padding-right: 20px;
    

}
.food-fam{
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    
}
.shelter-fam{
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}
.child-edu{
    background: #FFF4D6;
    border-radius: 5px;
}

.food-des{
    
    font-weight: 400;
    font-size: 18px;
    color: #707070;
    padding-bottom: 0;
}

/* their lives */

.donation{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 150px;
  
}
.donation-plan{
    display: flex;
    gap: 60px;
}

.their-live{
    padding-top: 50px;
}
.their-live-title{

    font-weight: 700;
    font-size: 45px;
    padding-bottom: 30px;
}
.their-live-des{

font-weight: 400;
font-size: 18px;
color: #707070;
padding-bottom: 30px;
}
.contribute{
font-weight: 600;
font-size: 20px;
justify-content: center;
align-items: center;
padding: 16px 12px;
color: #FFEEEE;
width: 230px;
height: 56px;
background: #FF5959;
border-radius: 5px;
border: 0;

}
/* their survive */
.survive{
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 150px;
}
/* my updates */
.my-updates{
    max-width: 1140px;
    margin: 0 auto;padding-bottom: 100px;
 
}
.text-form{
    width: 800px;
    height: 200px;
    background: #FFF4D6; 
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-field{
    display: flex;
   justify-content: center;
   
}

input{
    width: 230px;
    height: 20px;
    background: #D9D9D9;
    padding: 15px 25px;
}

.button{
font-weight: 600;
font-size: 20px;
justify-content: center;
align-items: center;
padding: 16px 12px;
color: #FFEEEE;
width: 160px;
height: 55px;
background: #FF5959;
border: 0;
}


footer{
    background: #121212;
    height: 160px;
}
.be-humble{

font-family: 'Lobster';
font-weight: 400;
font-size: 36px;
color: #FF5959;
text-align: center;
padding-top: 40px;
padding-bottom: 10px;
}